
body {
    font-family: 'Lato', sans-serif;
}

.header__h1 {
    text-align: center;
    position: absolute;
    top: 5.1em;
    left: 50%;
    font-size: 2em;
    transform: translateX(-50%);
    font-family: 'Stalinist One', cursive;
    color: whitesmoke;
}

.navbar--z-index {
    z-index: 1;
}

header {
    height: 85vh;
    background-image: url("../img/header--bg2.jpeg");
    background-position: center;
    background-size: cover;
}

.nav-link--style {
    color: #8e4774;
    font-family: 'Stalinist One', cursive;
    font-size: 0.8em;
}

.nav-link--style:hover {
    background-color: #8e4774;
    color: white;
    transition: 0.6s;
}

.h2--intro {
    font-family: 'Stalinist One', cursive;
}

.intro {
    font-size: 1.2em;
    height: 29vh;
}

.h2--about-me {
    font-family: 'Stalinist One', cursive;
    font-weight: 400;
}

.h2--about-me:after {
    content: "";
    border-bottom: 5px solid #8e4774;
    width: 200px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.about-me__txt {
    font-size: 1.1em;
}

.about-me__img {
    border-radius: 20px;
}

.h2--experience {
    color: whitesmoke;
    font-family: 'Stalinist One', cursive;
}

.h2--experience:after {

    content: "";
    border-bottom: 5px solid whitesmoke;
    width: 240px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.experience--style {
    background-image: url("../img/header--bg1.jpg");
    /*min-height:100%;*/
    min-height: 90vh;
    color: whitesmoke;
    background-position: left;
    /*background-size: cover;*/
}

.experience__imgs {
    font-size: 50px;
}

.experience__ul {
    /*font-size:1.2em ;*/
    font-size: 1.1em;
    /*position: relative;*/
    /*left:50%;*/
    /*transform: translateX(-25%);*/
}

.experience__p {
    /*font-size: 1.2em;   */
    font-size: 1.1em;
}

@media (max-width: 400px) {
    .experience__p
    {
        font-size: 1em;

    }
}



.h2--contact {
    font-family: 'Stalinist One', cursive;
}

.h2--contact:after {
    content: "";
    border-bottom: 5px solid #8e4774;
    width: 240px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.contact--styles {
    font-size: 1.1em;
    min-height: 60vh;
}

.footer {
    background-image: url("../img/header--bg1.jpg");
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.tech--styles {
    margin-top: 25%;

}

.icon:hover {

    opacity: 0.9;
}

.top-button {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    /*padding: 0.5em 0.9em;*/
    /*background-color: #6f42c1;*/
    /*border: none;*/
    transition: 0.7s;
    background-color: #f66a70;
}

@media (max-width: 400px) {
    .top-button__img {
        width: 50px;
        height: 50px;
    }
    .top-button
    {
        right: 10px;

    }
}

.top-button:hover {
    transform: rotate(360deg);

}

.rocket-icon
{

position: absolute;
    top:100px;

    transform: rotate(35deg);
}

.invader-icon
{
    position: absolute;
    top:26.5vh;
    right: 34.5vw;

}

@media (max-width: 400px) {
    .rocket-icon
    {
        width: 40px;
        height: 40px;
    }
}